body{

    background-image: url('./memphis-mini-dark.png');
    height:100%;
    min-height: 100%;
}
html, body {
    height:100%;
    min-height: 100%;
    
}


.navigation{
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: #4aaaa5;
    background-color: white;
}
.navback{

    background-color: #4aaaa5;
    border-radius: 10px;
    border-color:#4aaaa5;
    border-width: 3px;
    border-style: solid;
    text-align: center;
    padding: 1px;
} 
.x1:hover{
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 5px;
}
.x2:hover{
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 5px;
}
.x3:hover{
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 5px;
}
.x1:active{
    border-bottom-color: yellow;
    border-bottom-style: solid;
    border-bottom-width: 5px;
}
.x2:active{
    border-bottom-color: yellow;
    border-bottom-style: solid;
    border-bottom-width: 5px;
}
.x3:active{
    border-bottom-color: yellow;
    border-bottom-style: solid;
    border-bottom-width: 5px;
}
.nametag { 
    background-color: #4aaaa5;
    border-radius: 10px;
    border-color:#4aaaa5;
    border-width: 3px;
    border-style: solid;
    text-align: center;
    color: aliceblue;
    font-family: 'Roboto' , sans-serif;
    font-size: 36px;
}
.nametagtext{
    margin: 5%;
}
.midsect{
    background-color: white;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
}
.header{
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    color: #4aaaa5; 
    
}
.row2subrow1{
    border-bottom-style: solid ;
    border-bottom-width: 3px;
    border-bottom-color: #4aaaa5;
    width: 94%;
}
.profpic{
    height: 250px;
    width: 200px;
    border-color: white;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
}
.profpic:hover{
    border-color: black;
    border-width: 5px;
    border-style: solid;
    border-radius: 5px;
}
.narrative{
    font-family: 'Roboto' , sans-serif;
    font-size: 24px;
    color: #4aaaa5;
}

.inputter{
    font-family: 'Roboto',sans-serif;
    font-size: 24px;
    color: #4aaaa5;
}

.foots{
    background-color: rgb(41, 39, 39);
    color: aliceblue;
    border-top-color: #4aaaa5;
    border-top-style: solid;
    border-top-width: 10px;
    text-align: center;
}